$color-500: #4b75fc;
$color-110: #4b6cfd;
$color-grey: #e2e2e2;
$color-brown: #171717;
$color-black: #171717;

$width-large: 1920px;
$width-medium: 1600px;
$width-s-medium: 1200px;

$title-medium: 30px;

$border-radius: 44px;

$transition-opacity: opacity 200ms ease-in;
